
@font-face {
    font-family: Hackout;
    src: url('Hackout-Eaw5j.otf');
}
body {
    color: rgb(255, 255, 255);
    font-family: Hackout;
    background-color:black
}
img.full-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -999; 
    opacity: 0.5;/* Make sure it's behind everything else */
}